#winner-container {
    padding-top: 400px;
    padding-bottom: 160px;
    margin-right: 400px;
    margin-left: 400px;
}

#button {
   margin-bottom: 50px;
}

#bothPlayers-container {
    border-radius: 100%;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}